<!DOCTYPE html>
<html lang="en">

<head>
  <title>CS4241 HW 5</title>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src='js/project.js'></script>

  <script src='templates/eventDetailsTemplate.js'></script>
  <script src='js/eventDetails.js'></script>
  <script src="js/participant.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <!-- Author: Amanda Adkins -->
  <!-- Website: https://aaadkins-cs4241-assignment5.herokuapp.com -->
</head>

<body id="content" onload="initializePage()">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/participantHome">Community Service Portal</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/participantHome">Home <span class="sr-only">(current)</span></a></li>
          <li><a href="/participantEvents">All Events</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a onclick="logout()" id="pointerMouse">Logout</a></li>
        </ul>
      </div>
  </nav>
  <div class='container'>
    <div class="row">

      <div class="col-sm-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading" id="eventHeading"></div>
          <div class="panel-body">
            <div id="eventPanel"></div>

            <div id="optionButtons">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="panel panel-default" id='details'>

            <div class="panel-heading">
              <div class="panel-title" id="sidePanelTitle">
                Sign Up For More Events
              </div>
            </div>
            <div class="panel-body">
              <div id="signupsPanel">
              </div>
              <table class="table" id="newSignupsTable">
              </table>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="panel panel-default" id='existingDetails' hidden>

            <div class="panel-heading">
              <div class="panel-title" id="sidePanelTitle">
                Your Shifts
              </div>
            </div>
            <div class="panel-body">
              <div id="newSignupsPanel">
              </div>
              <table class="table" id="oldSignupsTable">
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>
